[
 ;;Users

 {:db/id #db/id [:db.part/db]
 :db/ident :user/username
 :db/doc "The username"
 :db/valueType :db.type/string
 :db/index true
 :db/cardinality :db.cardinality/one
 :db.install/_attribute :db.part/db}

 {:db/id #db/id [:db.part/db]
 :db/ident :user/password
 :db/doc "password"
 :db/valueType :db.type/string
 :db/index true
 :db/cardinality :db.cardinality/one
 :db.install/_attribute :db.part/db}

 ;;User to Post Ref

{:db/id #db/id[:db.part/db]
  :db/ident :user/posts
  :db/doc "Ref for user to the user's posts"
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true
  :db/index true
  :db.install/_attribute :db.part/db}

 ;;Posts

 {:db/id #db/id [:db.part/db]
:db/ident :posts/username
:db/valueType :db.type/string
:db/index true
:db/cardinality :db.cardinality/one
:db.install/_attribute :db.part/db}

{:db/id #db/id [:db.part/db]
:db/ident :posts/title
:db/valueType :db.type/string
:db/index true
:db/cardinality :db.cardinality/one
:db.install/_attribute :db.part/db}

{:db/id #db/id [:db.part/db]
:db/ident :posts/body
:db/valueType :db.type/string
:db/index true
:db/cardinality :db.cardinality/one
:db.install/_attribute :db.part/db}]
